In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
sber_data = pd.read_csv('../data/sber_data.csv')

fig = sns.boxplot(data=sber_data, 
                  x='price_doc', 
                  y='ecology')

fig.show()

In [ ]:
fig = plt.figure(figsize=(8,4))
axes = fig.add_axes([0, 0, 1, 1])
axes.scatter(x=sber_data['price_doc'],
             y=sber_data['kremlin_km'], 
             s=10);
axes.legend()

In [ ]:
cols_null_percent = sber_data.isnull().mean() * 100
cols_with_null = cols_null_percent[cols_null_percent>0].sort_values(ascending=False)
cols_with_null.plot(kind='bar',
                    figsize=(10,4),
                    title='null`s spread in data')

In [ ]:
colors = ['blue', 'yellow']
fig = plt.figure(figsize=(10,4))
cols = cols_with_null.index
ax = sns.heatmap(sber_data[cols].isnull(), 
                 cmap=sns.color_palette(colors))

In [ ]:
drop_data = sber_data.copy()
thresh = drop_data.shape[0]*0.7
drop_data = drop_data.dropna(thresh=thresh, axis=1)
drop_data = drop_data.dropna(how = 'any', axis=0)
drop_data.isnull().mean()
drop_data.shape

In [ ]:
sber_data[cols].hist(figsize=(20,8));

In [ ]:
fill_data = sber_data.copy()
values = {'life_sq': fill_data['full_sq'],
          'metro_min_walk': fill_data['metro_min_walk'].median(), 
          'metro_km_walk': fill_data['metro_km_walk'].median(), 
          'railroad_station_walk_km': fill_data['railroad_station_walk_km'].median(), 
          'railroad_station_walk_min': fill_data['railroad_station_walk_min'].median(), 
          'hospital_beds_raion': fill_data['hospital_beds_raion'].mode()[0], 
          'preschool_quota': fill_data['preschool_quota'].mode()[0], 
          'school_quota': fill_data['school_quota'].mode()[0], 
          'floor': fill_data['floor'].mode()[0]}

fill_data = fill_data.fillna(values)
fill_data.isnull().mean()

fill_data[cols].hist(figsize=(20,8));

In [32]:
indicator_data = sber_data.copy()
for col in cols_with_null.index:
    indicator_data[col + '_was_null'] = indicator_data[col].isnull()
values = {'life_sq': indicator_data['full_sq'],
          'metro_min_walk': indicator_data['metro_min_walk'].median(), 
          'metro_km_walk': indicator_data['metro_km_walk'].median(), 
          'railroad_station_walk_km': indicator_data['railroad_station_walk_km'].median(), 
          'railroad_station_walk_min': indicator_data['railroad_station_walk_min'].median(), 
          'hospital_beds_raion': indicator_data['hospital_beds_raion'].mode()[0], 
          'preschool_quota': indicator_data['preschool_quota'].mode()[0], 
          'school_quota': indicator_data['school_quota'].mode()[0], 
          'floor': indicator_data['floor'].mode()[0]}
indicator_data = indicator_data.fillna(values)
indicator_data.isnull().mean()
indicator_data

,id,full_sq,life_sq,floor,sub_area,preschool_quota,preschool_education_centers_raion,school_quota,school_education_centers_raion,school_education_centers_top_20_raion,...,price_doc,hospital_beds_raion_was_null,preschool_quota_was_null,school_quota_was_null,life_sq_was_null,floor_was_null,metro_min_walk_was_null,metro_km_walk_was_null,railroad_station_walk_km_was_null,railroad_station_walk_min_was_null
0,1,43,27.0,4.0,Bibirevo,5001.0,5,11065.0,5,0,...,5850000,False,False,False,False,False,False,False,False,False
1,2,34,19.0,3.0,Nagatinskij Zaton,3119.0,5,6237.0,8,0,...,6000000,False,False,False,False,False,False,False,False,False
2,3,43,29.0,2.0,Tekstil'shhiki,1463.0,4,5580.0,7,0,...,5700000,False,False,False,False,False,False,False,False,False
3,4,89,50.0,9.0,Mitino,6839.0,9,17063.0,10,0,...,13100000,True,False,False,False,False,False,False,False,False
4,5,77,77.0,4.0,Basmannoe,3240.0,7,7770.0,9,0,...,16331452,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30466,30469,44,27.0,7.0,Otradnoe,5088.0,4,12721.0,4,0,...,7400000,True,False,False,False,False,False,False,False,False
30467,30470,86,59.0,3.0,Tverskoe,1874.0,4,6772.0,4,1,...,25000000,False,False,False,False,False,False,False,False,False
30468,30471,45,45.0,10.0,Poselenie Vnukovskoe,2395.0,0,7377.0,0,0,...,6970959,True,True,True,True,False,False,False,False,False
30469,30472,64,32.0,5.0,Obruchevskoe,2372.0,6,6083.0,8,0,...,13500000,False,False,False,False,False,False,False,False,False
30470,30473,43,28.0,1.0,Novogireevo,2215.0,4,5824.0,4,0,...,5600000,False,False,False,False,False,False,False,False,False