In [ ]:
def hours(minutes):
    hours = minutes // 60
    left = minutes % 60
    print('Hours:', hours)
    print('minutes left:', left)
hours(90)

In [ ]:
def get_time(distance, speed):
    result = distance / speed
    print(result)
time = int(get_time(120, 60))

print("Travel time will be:", time, "hours")

In [ ]:
def get_time_tuple(distance, speed):
        result = distance / speed

result = get_time_tuple(120, 100)

print("Hours to travel:", hours)
print("Minutes to travel:", minutes)

In [ ]:
def in_list(list_in, obj):
    for elem in list_in:
        if obj == elem:
            print('Element is found')
            return True
            print('element not found')
    print('Element is not found')
    return False
my_list = [1,2,5,7,10]
result = in_list(my_list, 2)

In [ ]:
def f_func():
    print('script continues')

In [ ]:
grades = {'Ivanov': 5, 'Smirnov': 3, 'Kuznetsova': 4, 'Tihonova': 5}
try:
    print(grades['Pavlov'])
except KeyError:
    print('Student`s mark was not found')

In [ ]:
def get_time(distance, speed):
    if speed == 0:
        raise ValueError(' speed cannot be equal 0')
    result = distance / speed
    return result

get_time(25, 0)

In [ ]:
def get_cola(ice=True):
    if ice == True:
        print('Cola with ice is ready')
    else:
        print('cola without ice is ready')
        
get_cola()

In [ ]:
def root(value, n, verbose=False):
    result = value ** (1/n)
    if verbose:
        print('Root of power', n, 'from', value, 'equals', result)
    return result

print(root(81, 2, True))

In [ ]:
def add_mark(name, mark, journal=None):
    if journal is None:
        journal = {}
    journal[name] = mark
    return journal

group1 = {}
group1 = add_mark('Ivanov', 5, group1)
group1 = add_mark('Tihonova', 4, group1)
print(group1)


group2 = add_mark('Smirnov', 3)
print(group2)

group3 = add_mark('Kuznetsova', 5)
print(group3)

In [ ]:
def mean(*args):
    result = sum(args) / len(args)
    return result

print(mean(5, 4, 7, 5))

In [ ]:
def mean_mark(name, *marks):
    result = sum(marks) / len(marks)
    print(name + ':', result)
    
mean_mark('ivanov', 5, 4, 4, 5)

In [ ]:
def mult(*args):
    result = 1
    for num in args:
        result *= num
    return result
    
print(mult(3, 5, 10))

In [ ]:
langs = ['Python', 'SQL', 'Machine Learning', 'Statistics']
print(*langs, sep=', ')

In [ ]:

def mean_mark(name, *marks):
    result = sum(marks) / len(marks)
    print(name + ':', result)
    
mean_mark('Kuznetsov', 4,5,5,5,5,3,4,4,5,4,5)

In [ ]:
def schedule(**kwargs):
    print('Week schedule:')
    for key in kwargs:
        print(key, kwargs[key], sep=' - ')
    
schedule(monday='Python', tuesday='SQL', friday='ML')

In [ ]:
def print_args(*args, **kwargs):
    print(args)
    print(kwargs)
    
print_args(1, 2, 3, 4, name='Ivanov', age='19', city='Moscow')

In [ ]:
list1 = [1,4,6,8]
list2 = [12, 45, 56, 190, 111]
list3 = ['Python', 'Functions']

how = {'sep' : ', ', 'end' : '; '}

print(*list1, **how)
print(*list2, **how)
print(*list3, **how)

In [ ]:
def get_less(list_in, num):
    for i in list_in:
        if i < num:
            return i
            if num not in list_in:
                return None
print(get_less([1, 5, 8,  10], 9))

In [ ]:
def split_date(date):
    days = int(date[:2])
    months = int(date[2:4])
    years = int(date[4:8])
    date_tup = (days, months, years)
    return date_tup

print(split_date("31012019"))

In [ ]:
def split_date(date):
    day, month, year = date[:2], date[2:4], date[4:]
    return int(day), int(month), int(year)

In [ ]:
def is_prime(num):
    if num % 2 == 1 and num != 1:
        return True
    else:
        return False

In [ ]:
def between_min_max(*args):
    mini = min(args)
    maxi = max(args)
    result = (maxi + mini)/2

In [ ]:
def best_student(**students):
    best_name = None
    best_rating = None
    for student, rating in students.items():
        if best_name is None:
            best_name = student
            best_rating = rating
        if rating < best_rating:
            best_rating = rating
            best_name = student
        return best_name

In [ ]:
is_palindrom = lambda x: 'yes' if x == (x[::-1]) else 'no'

In [ ]:
def print_personal_data(**kwargs):
    first_name, last_name, age, position, work_experience = kwargs
    if age in kwargs:
        print('age:', age)
    if first_name in kwargs:
        print('first_name:', first_name)
    if last_name in kwargs:
        print('last_name:', last_name)
    if position in kwargs:
        print('position:', position)
    if work_experience in kwargs:
        print('work_experience:', work_experience)
    return first_name, last_name, age, position, work_experience
    

print_personal_data(first_name='John', last_name='Doe', age=28, position='Python developer')

In [ ]:
def print_personal_data(**kwargs):
    argument_names = sorted(kwargs.keys())
    for argument in argument_names:
        value = kwargs[argument]
        print('{} : {}'.format(argument, value))
        
print_personal_data(first_name='John', last_name='Doe', age=28, position='Python developer')

In [ ]:
def get_words_list(text):
    word_list = []
    punctuation_list = ['.', ',', ';', ':', '...', '!', '?', '-', '"', '(', ')']
    for symbol in punctuation_list:
        text = text.replace(symbol, '')
        text = text.lower()
        word_list = text.split(' ')
    return word_list

def get_unique_words(words_list):
    unique_word_list = list(set(words_list))    
    unique_word_list.sort()
    return unique_word_list
    

print(get_unique_words(['and', 'take', 'the', 'most', 'special', 'care', 'that', 'you', 'locate', "muad'dib", 'in', 'his', 'place', 'the', 'planet', 'arrakis', 'do', 'not', 'be', 'deceived', 'by', 'the', 'fact', 'that', 'he', 'was', 'born', 'on', 'caladan', 'and', 'lived', 'his', 'first', 'fifteen', 'years', 'there', 'arrakis', 'the', 'planet', 'known', 'as', 'dune', 'is', 'forever', 'his', 'place']))

In [17]:
def get_most_frequent_word(text_example):
        word_list = []
        punctuation_list = ['.', ',', ';', ':', '...', '!', '?', '-', '"', '(', ')']
        for symbol in punctuation_list:
            text_example = text_example.replace(symbol, '')
            text_example = text_example.lower()
            word_list = text_example.split(' ')
                          
            unique_word_list = list(set(word_list))    
            unique_word_list.sort()  
            mfw = {}
            
            for frequent in word_list:
                if frequent not in mfw:
                    mfw[frequent] = 1
                else:
                    mfw[frequent] += 1
                    for i in mfw.values():
                    
            return mfw
        
text_example = "A beginning is the time for taking the most delicate care that the balances are correct. This every sister of the Bene Gesserit knows. To begin your study of the life of Muad'Dib, then take care that you first place him in his time: born in the 57th year of the Padishah Emperor, Shaddam IV. And take the most special care that you locate Muad'Dib in his place: the planet Arrakis. Do not be deceived by the fact that he was born on Caladan and lived his first fifteen years there. Arrakis, the planet known as Dune, is forever his place."

print(get_most_frequent_word(text_example))

{'a': 1, 'beginning': 1, 'is': 2, 'the': 11, 'time': 1, 'for': 1, 'taking': 1, 'most': 2, 'delicate': 1, 'care': 3, 'that': 4, 'balances': 1, 'are': 1, 'correct': 1, 'this': 1, 'every': 1, 'sister': 1, 'of': 4, 'bene': 1, 'gesserit': 1, 'knows': 1, 'to': 1, 'begin': 1, 'your': 1, 'study': 1, 'life': 1, "muad'dib,": 1, 'then': 1, 'take': 2, 'you': 2, 'first': 2, 'place': 2, 'him': 1, 'in': 3, 'his': 4, 'time:': 1, 'born': 2, '57th': 1, 'year': 1, 'padishah': 1, 'emperor,': 1, 'shaddam': 1, 'iv': 1, 'and': 2, 'special': 1, 'locate': 1, "muad'dib": 1, 'place:': 1, 'planet': 2, 'arrakis': 1, 'do': 1, 'not': 1, 'be': 1, 'deceived': 1, 'by': 1, 'fact': 1, 'he': 1, 'was': 1, 'on': 1, 'caladan': 1, 'lived': 1, 'fifteen': 1, 'years': 1, 'there': 1, 'arrakis,': 1, 'known': 1, 'as': 1, 'dune,': 1, 'forever': 1}

In [1]:
def print_root(value, n=2):
    def root(value, n=2):
        result = value **(1/n)
        return result
    res = root(81, 4)
    print((f'Root of power {n} from {value} equals {res}'))
print(root(81, 4))

NameError: name 'root' is not defined

In [1]:
def outer(who):
    def inner():
        print(f'Hello {who}')
    inner()
    
outer('World')

Hello World