In [1]:
import numpy as np
import pandas as pd
countries = pd.Series(data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries'
)
countries[['US', 'UK']]

US       США
UK    Англия
Name: countries, dtype: object

In [ ]:
def create_medications(names, counts):
    medications = pd.Series(index= names, data= counts)
    return medications

def get_percent(medications, name):
    return (medications.loc[name]/sum(medications)*100)

names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]

In [ ]:
countries = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [1, 1, 2, 1, 1, 1, 1],
    'area': [133396, 5, 9826630, 17125191, 603628, 207600, 2724902]
})
countries.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']

countries.loc[['RU', 'UK', 'US'], ['area', 'population']]

In [ ]:
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

def create_companydf(income, expenses, years):
    df = pd.DataFrame({'income' : [*income], 'expenses' : [*expenses]}, index=years)
    return df

def get_profit(df, year):
    if year in years:
        profit = df.loc['income'] - df.loc['expenses']
    else:
        profit=None
    return profit


create_companydf(income, expenses, years)

In [ ]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df.to_csv('data/countries.csv', index=False, sep=';')

In [ ]:
countries_data = pd.read_csv('data/countries.csv', sep=';')
display(countries_data)

In [ ]:
md = pd.read_csv('data/melb_data.csv', sep=',')
md['Car'] = md['Car'].astype('int64')
md['Bedroom'] = md['Bedroom'].astype('int64')
md['Bathroom'] = md['Bathroom'].astype('int64')
md['Propertycount'] = md['Propertycount'].astype('int64')
md['YearBuilt'] = md['YearBuilt'].astype('int64')
md.to_csv('data/melb_data.csv', sep=',')

In [ ]:
landsize_median = md['Landsize'].median()
landsize_mean = md['Landsize'].mean()
print((abs(landsize_median-landsize_mean)/landsize_mean)*100)

In [ ]:
md[((md['Rooms']==3) | (md['BuildingArea']>100)) & (md['Price']<300000)]

In [ ]:
md[md['Type'] == 't']['Rooms'].max()

In [ ]:
meanprice = md['Price'].mean()
md[md['Price']>meanprice]['BuildingArea'].median()

In [ ]:
md[md['Bathroom']==0].shape[0]

In [ ]:
sp = pd.read_csv('data/students_performance.csv', sep=',')
med = sp[sp['race/ethnicity'] == 'group A']['writing score'].median()
mea = sp[sp['race/ethnicity'] == 'group C']['writing score'].mean()
sum= med - mea
abs(sum)

In [ ]:
mel = pd.read_csv('data/melb_data_ps.csv', sep=',')

In [ ]:
mdf = mel.copy()
mdf = mdf.drop(['index','Coordinates'], axis=1)
mdf

In [ ]:
totalrooms = mdf['Bedroom'] + mdf['Bathroom'] + mdf['Rooms']
mdf['meanroomarea'] = mdf['BuildingArea'] / totalrooms
mdf['meanroomarea']

In [ ]:
diff = mdf['BuildingArea'] - mdf['Landsize']
suma = mdf['BuildingArea'] + mdf['Landsize']
mdf['AreaRatio'] = diff/suma
display(mdf['AreaRatio'])

In [ ]:
customer_df = pd.DataFrame({
            'number': [0, 1, 2, 3, 4],
            'cust_id': [128, 1201, 9832, 4392, 7472],
            'cust_age': [13, 21, 19, 21, 60],
            'cust_sale': [0, 0, 0.2, 0.15, 0.3],
            'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
            'cust_order': [1400, 14142, 900, 1240, 8430]
        })

def delete_columns(df, col=[]):
    for cc in col:
        if cc not in df.columns:
            return None
    return df.drop(col, axis=1)

In [ ]:
cdf = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

dens = cdf['population'] / cdf['area']
round((dens.mean()*1000000), 2)

In [ ]:
mdf['Date'] = pd.to_datetime(mdf['Date'],dayfirst=True)
yearsSold = mdf['Date'].dt.year
print(yearsSold.min())
print(yearsSold.max())
print(yearsSold.mode()[0])

In [ ]:
mdf['MonthSale'] = mdf['Date'].dt.month
mdf['MonthSale'].value_counts(normalize=True)

In [ ]:
deltadays = mdf['Date'] - pd.to_datetime('2016-01-01')
deltadays.dt.days

In [ ]:
def get_street_type(address):
    exclude_list = ['N', 'S', 'W', 'E']
    address_list =  address.split(' ')
    street_type = address_list[-1]
    if street_type in exclude_list:
        street_type = address_list[-2]
    return street_type
    
street_types = mdf['Address'].apply(get_street_type)
popular_streets = street_types.value_counts().nlargest(10).index
mdf['streettype'] = street_types.apply(lambda x: x if x in popular_streets else 'other')
mdf['streettype'].nunique()
mdf = mdf.drop('Address', axis=1)
mdf

In [ ]:
mdf['weekdaysale'] = mdf['Date'].dt.dayofweek
weekend_count = md[(mdf['weekdaysale']==5) | (mdf['weekdaysale']==6)].shape[0]
weekend_count

In [ ]:
def get_weekend(weekday):
    if weekday == 5 or weekday == 6:
        return 1
    else:
        return 0
    
mdf['weekend'] =  mdf['weekdaysale'].apply(get_weekend)     
mdf['weekend']

In [ ]:
largest = mdf['SellerG'].value_counts().nlargest(49).index
mdf['SellerG'] = mdf['SellerG'].apply(lambda x: x if x in largest else 'other')
a = mdf[mdf['SellerG'] == 'Nelson']['Price'].min()
b = mdf[mdf['SellerG'] == 'other']['Price'].min()
print(round( a/ b, 1))

In [ ]:
unique_list = []
for col in mdf.columns:
    item = (col, mdf[col].nunique(), mdf[col].dtypes)
    unique_list.append(item)
    
unique_counts = pd.DataFrame(
    unique_list,
    columns=['colname', 'nums', 'type']
).sort_values(by='nums', ignore_index=True)
unique_counts

In [ ]:
exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car']
maxUnique = 140
for col in mdf.columns:
    if mdf[col].nunique() < maxUnique and col not in exclude:
        mdf[col] = mdf[col].astype('category')
mdf['Type'] = mdf['Type'].cat.rename_categories({'u': 'unit', 't': 'townhouse', 'h': 'house'})
mdf['Type'] = mdf['Type'].cat.add_categories('flat')

In [ ]:
nht = pd.Series(['unit', 'house', 'flat', 'flat', 'house'])
nht = nht.astype(mdf['Type'].dtype)
nht

In [ ]:
mdf['Suburb'] = mdf['Suburb'].astype('category')
popsub = mdf['Suburb'].value_counts().nlargest(119).index
mdf['Suburb'] = mdf['Suburb'].apply(lambda x: x if x in popsub else 'other')
mdf.info()

In [ ]:
cb = pd.read_csv('Data/citibike-tripdata.csv', sep=',')
round(cb['usertype'].value_counts(normalize=True), 2)

In [ ]:
cb = cb.drop('start station id', axis=1)
cb = cb.drop('end station id', axis=1)
cb['age'] = 2018 - cb['birth year']
cb = cb.drop('birth year', axis=1)

In [ ]:
#cb['trip duration'] = cb['stoptime'] - cb['starttime']
cb['stoptime'] = pd.to_datetime(cb['stoptime'])
cb['starttime'] = pd.to_datetime(cb['starttime'])
cb['trip duration'] = cb['stoptime'] - cb['starttime']
cb['trip duration'].loc[3]

In [ ]:
cb['weekend'] = cb['starttime'].dt.dayofweek

def get_start(day):
    if day == 5 or day == 6:
        return 1
    return 0
cb['weekend'] = cb['weekend'].apply(get_start)
cb['weekend'].value_counts()

In [ ]:
def get_time_of_day(hour):
    if 0 <= hour <= 6:
        return 'night'
    elif 6 < hour <= 12:
        return 'morning'
    elif 12< hour <= 18:
        return 'day'
    elif 18 < hour <= 23:
        return 'evening'
    
cb['timeofday'] = cb['starttime'].dt.hour.apply(get_time_of_day)
day = cb[cb['timeofday'] == 'day'].shape[0]
night = cb[cb['timeofday'] == 'night'].shape[0]
print(round(day/night))

In [ ]:
mdf['Date'] = pd.to_datetime(mdf['Date'],dayfirst=True)
yearsSold = mdf['Date'].dt.year
print(yearsSold.min())
print(yearsSold.max())
print(yearsSold.mode()[0])

In [ ]:
ndf = pd.read_csv('data/melb_data_fe.csv')
ndf['Date'] = pd.to_datetime(ndf['Date'])
#ndf['Date'] = ndf['Date'].dt.quarter
#ndf['Date'].value_counts().iloc[1]

In [ ]:
ex = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car']
uniq = 150
for col in ndf.columns:
    if col not in ex and ndf[col].nunique() < uniq:
        ndf[col] = ndf[col].astype('category')
        
ndf.info()

In [ ]:
ndf.sort_values(by=['Distance', 'Price']).loc[::10, ['Distance', 'Price']]

In [ ]:
mask1 = ndf['AreaRatio'] < -0.8
mask2 = ndf['Type'] == 'townhouse'
mask3 = ndf['SellerG'] == 'McGrath'

ndf[mask1 & mask2 & mask3].sort_values(by=['Date', 'AreaRatio'], ascending=[True, False], ignore_index=True).loc[:,['Date', 'AreaRatio']]

In [ ]:
ndf['Type'].value_counts()

In [ ]:
rooms = ndf['Rooms'] > 2
typ = ndf['Type'] == 'townhouse'

ndf[typ & rooms].sort_values(by=['Rooms', 'MeanRoomsSquare'], ascending=[True, False], ignore_index=True).loc[18, 'Price']

In [ ]:
ndf.groupby('Regionname')['Distance'].min().sort_values(ascending=False)

In [ ]:
ndf.groupby('MonthSale')['Price'].agg(['count', 'mean', 'max']).sort_values(by='count', ascending=False)

In [ ]:
ndf.groupby('Regionname')['SellerG'].agg(['nunique', set])

In [ ]:
ndf.groupby('Rooms')['Price'].agg('mean', 'max').sort_values(ascending=False)

In [ ]:
ndf.groupby('Regionname')['Lattitude'].agg('min').sort_values(ascending=False)

In [ ]:

date1 = pd.to_datetime('2017-05-01')
date2  = pd.to_datetime('2017-09-01')
mask = (date1 < ndf['Date']) & (ndf['Date'] <= date2)
ndf[mask].groupby('SellerG')['Price'].sum().sort_values(ascending=True)

In [ ]:
ndf.groupby(['Rooms','Type'])['Price'].mean().unstack()

In [ ]:
ndf.pivot_table('Price', 'Rooms', 'Type', fill_value=0).round(0)

In [ ]:
ndf.pivot_table('Landsize', 'Regionname', 'Type', aggfunc=['median', 'mean'], fill_value=0).round(0)

In [ ]:
ndf.pivot_table('Price', ['Method', 'Type'], 'Regionname',aggfunc='median', fill_value=0).round(0)

In [ ]:
pivot = ndf.pivot_table('Landsize', 'Regionname', 'Type', aggfunc=['median', 'mean'], fill_value=0)
pivot['mean']['unit']
mask = pivot['mean']['house'] < pivot['median']['house']
filpiv = pivot[mask]
filpiv

In [ ]:
mser = pd.Series(
    np.random.rand(8),
	index=[['white','white','white','blue','blue','red','red','red'], 
           ['up','down','right','up','down','up','down','left']])
mser.index

In [ ]:
mframe = pd.DataFrame(np.random.randn(16).reshape(4, 4),
                      index=[['white', 'black', 'red', 'red'], ['up', 'down', 'up', 'down']],
                      columns=[['pen', 'pen', 'paper', 'paper'], [1,2,3,4]])
mframe

In [ ]:
table = ndf.pivot_table('BuildingArea', 'Rooms', 'Type', aggfunc='median')
display(table)

In [ ]:
pric = ndf.pivot_table('Price', 'SellerG', 'Type', aggfunc='median')
pric.sort_values('unit').iloc[-1]

In [ ]:
rat1 = pd.read_csv('data/movs/ratings1.csv')
rat2 = pd.read_csv('data/movs/ratings2.csv')
dats = pd.read_csv('data/movs/dates.csv')
movs = pd.read_csv('data/movs/movies.csv')
#dats.mode()
rat1

In [ ]:
ratings = pd.concat([rat1, rat2], ignore_index=True)
print('ratings in ratings: ', ratings.shape[0])
print('dates in dats:', dats.shape[0])

ratings = ratings.drop_duplicates(ignore_index=True)

print('ratings in ratings: ', ratings.shape[0])
print('dates in dats:', dats.shape[0])

ratings_dates = pd.concat([ratings, dats], axis=1)
ratings_dates

In [ ]:
joined_false = ratings_dates.join(movs, rsuffix='-right', how='left')
joined_false

In [ ]:
joined = ratings_dates.join(movs.set_index('movieId'), on='movieId', how='left')
joined

In [ ]:
merged = ratings_dates.merge(movs, on='movieId', how='left')
print(ratings_dates.shape[0])
print(merged.shape[0])
merged.shape[0] == ratings_dates.shape[0]

In [ ]:
merged2 = ratings_dates.merge(movs, on='movieId', how='outer')
merged2.shape[0]

In [ ]:
merge_rat = rat1.merge(rat2, how='outer')
merge_rat

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                    'B': ['B0', 'B1', 'B2']},
                     index=['K0', 'K1', 'K2'])
 
df2 = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                     index=['K0', 'K2', 'K3'])
 
result = pd.merge(df1, df2, left_index=True, right_index=True, how='outer')
result = result.dropna()
result

In [ ]:
import re
def get_year_release(arg):
    candidates = re.findall(r'\(\d{4}\)', arg)
    if len(candidates) > 0:
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        return None

In [ ]:
rams = pd.read_csv('Data/movs/ratings_movies.csv', sep=',')
rams['year_release'] = rams['title'].apply(get_year_release)
mask = rams['year_release']== 1999
rams[mask].groupby('title')['rating'].mean().sort_values()

In [ ]:
mask = rams['year_release']==2010
rams[mask].groupby('genres')['rating'].mean().sort_values()

In [ ]:
rams.groupby('userId')['rating'].agg(['count', 'mean']).sort_values(['count', 'mean'], ascending=[True, False])

In [ ]:
mask = rams['year_release'] == 2018
group = rams[mask].groupby('genres')['rating'].agg(['mean', 'count'])
group[group['count']>10].sort_values('mean', ascending=False)

In [ ]:
rams['year_rating'] = pd.to_datetime(rams['date']).dt.year
pivot = rams.pivot_table(values='rating', index='year_rating', columns='genres', aggfunc='mean')
pivot

In [99]:
orders = pd.read_csv('Data/prods/orders.csv', sep= ';')
products = pd.read_csv('Data/prods/products.csv', sep=';')
ord_prod = orders.merge(products, left_on='ID товара', right_on='Product_ID', how='left')
ord_prod[ord_prod['Name'].isna()]

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество,Product_ID,Name,Price,CURRENCY
17,01.01.2001 00:00:00,0,1,"Оплачен, формируется к отправке",Да,Нет,Нет,666,1,NaN,NaN,NaN,NaN

In [109]:
ord_prod[ord_prod['Отменен'] == 'Да']['Name']

6    Носки беговые Camino
Name: Name, dtype: object

In [121]:
ord_prod['profit'] = ord_prod['Количество'] * ord_prod['Price']
mask = ord_prod['Оплачен'] == 'Да'
ord_prod[mask].groupby('ID Покупателя')['profit'].sum().sort_values(ascending=False)

ID Покупателя
7    17096.0
5    13043.0
8     1344.0
1        0.0
Name: profit, dtype: float64