In [ ]:
import pandas as pd
countries = pd.Series({
    'UK': 'Англия',
    'CA': 'Канада',
    'US' : 'США',
    'RU': 'Россия',
    'UA': 'Украина',
    'BY': 'Беларусь',
    'KZ': 'Казахстан'},
    name = 'countries'
)

countries.iloc[2:4]

In [ ]:

def create_medications(names, counts):
    medications = pd.Series(index=names, data=counts)
    return medications
def get_percent(medications, name):
    return (medications.loc[name]/sum(medications)*100)

print(get_percent(name = 'cyntomycin', medications = create_medications(['chlorhexidine', 'cyntomycin', 'afobazol'],[26, 18, 7])))

TYPE 1

In [ ]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']

countries_df

TYPE 2

In [ ]:
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'area'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)

countries_df

In [ ]:
countries_df.population.iloc[1]

In [ ]:
#countries_df.loc[['US', 'CA', 'UK'], ['population', 'area']]
countries_df.iloc[0:3, 1:3]

In [ ]:
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]



def create_companyDF(income, expenses, years):
    df = pd.DataFrame({'income' : income, 'expenses' : expenses}, index= years)
    return df
def get_profit(df, year):
    if year in df.index: 
        diff = df.loc[year]['income'] - df.loc[year]['expenses'] 
    else: 
        diff = None
    return diff

In [ ]:
md = pd.read_csv('data/melb_data.csv', sep=',')
#dif = md['Landsize'][3521] / md['Landsize'][1690]

#md.shape
md.info()

In [ ]:
md[['Car', 'Bathroom', 'Bedroom', 'Propertycount', 'YearBuilt']] = md[['Car', 'Bathroom', 'Bedroom', 'Propertycount', 'YearBuilt']].astype('int64')
md.info()

In [ ]:
mdc = md.copy()
mdc = mdc.drop(['index', 'Coordinates'], axis=1)
total_rooms = mdc['Bathroom'] + mdc['Bedroom'] + mdc['Rooms']
#total_rooms
mdc['meanroomarea'] = mdc['BuildingArea'] / total_rooms
mdc['meanroomarea']
diff_area = mdc['BuildingArea'] - mdc['Landsize']
sum_area = mdc['BuildingArea'] + mdc['Landsize']
mdc['arearatio'] = diff_area/sum_area
mdc['arearatio']

In [ ]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
dens = (countries_df['population']/countries_df['area'])*1000000
round(dens.mean(),2)

In [ ]:
mdc['Date'] = pd.to_datetime(mdc['Date'], dayfirst=True)
years_sold = mdc['Date'].dt.year
mdc['monthsales'] = mdc['Date'].dt.month
mdc['monthsales'].value_counts(normalize=True)

In [ ]:
delta_days = mdc['Date'] - pd.to_datetime('2016-01-01')
delta_days.dt.days

In [ ]:
mdc['agebuild'] = mdc['Date'].dt.year - mdc['YearBuilt']
mdc = mdc.drop('YearBuilt', axis=1)
mdc

In [ ]:
mdc['weekdaysale'] = mdc['Date'].dt.day_of_week
weekend_count = mdc['weekdaysale'].value_counts()[5] + mdc['weekdaysale'].value_counts()[6]
#weekend_count
mdc['weekdaysale']

In [ ]:
def get_weekend(weekday):
    if weekday == 5 or weekday == 6:
        return 1
    else:
        return 0
    
mdc['weekend'] = mdc['weekdaysale'].apply(get_weekend)
round(mdc[mdc['weekend']==1]['Price'].mean())

In [ ]:
ufo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv')
ufo['Time'] = pd.to_datetime(ufo['Time'])
ufo['date']=  ufo['Time'].dt.date
ufo = ufo.drop('Time', axis=1)
delta = ufo[ufo['State'] =='NV']['date'].diff().mean()
delta

In [ ]:
def get_type_street(address):
    exclude_list = ['N', 'S', 'W', 'E']
    address_list = address.split(' ')
    street_type = address_list[-1]
    if street_type in exclude_list:
        street_type = address_list[-2]
    return street_type
    
street_types = mdc['Address'].apply(get_type_street)

street_types.value_counts()
popular_streets = street_types.value_counts().nlargest(10).index
#mdc['streettype'] = street_types.apply(lambda x: x if x in popular_streets else 'other')
#mdc['streettype'].nunique()
#mdc = mdc.drop('Address', axis=1)#
popular_streets

In [ ]:
pop_sell = mdc['SellerG'].value_counts().nlargest(49).index
pop_sell
mdc['SellerG'] = mdc['SellerG'].apply(lambda x: x if x in pop_sell else 'other')
mdc['SellerG'].value_counts()
#diff = (mdc[mdc['SellerG'] == 'Nelson'] / mdc[mdc['SellerG'] == 'other']).value_counts()
mdc[mdc['SellerG'] == 'other']
nelson = mdc[mdc['SellerG'] == 'Nelson'].value_counts()
other = mdc[mdc['SellerG'] == 'other'].value_counts()
nelson = nelson.value_counts()
other = other.value_counts()
diff = nelson/other
diff.round(1)

In [ ]:
unique_list = []
for col in mdc.columns:
    item = (col, mdc[col].nunique(),mdc[col].dtypes)
    unique_list.append(item)
    
unique_counts = pd.DataFrame(unique_list,
            columns=['col_name', 'num_unique', 'type',]
            ).sort_values(by='num_unique', ignore_index=True)
unique_counts

cols_to_exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car']
max_unique_counts = 150
for col in mdc.columns:
    if mdc[col].nunique() < max_unique_counts and col not in cols_to_exclude:
        mdc[col] = mdc[col].astype('category')

mdc['Type']

In [ ]:
mdc['Type'] = mdc['Type'].cat.add_categories('flat')
mdc['Type'] = mdc['Type'].cat.rename_categories({'u': 'unit',
                                                 't': 'townhouse',
                                                 'h': 'house'})


new_house_types = pd.Series(['house', 'unit', 'flat', 'flat', 'house'])
new_house_types = new_house_types.astype(mdc['Type'].dtype)
new_house_types

In [28]:
mdc

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Lattitude,Longtitude,Regionname,Propertycount,meanroomarea,arearatio,monthsales,agebuild,weekdaysale,weekend
0,Abbotsford,85 Turner St,2,house,1480000.0,S,Biggin,2016-12-03,2.5,3067,...,-37.79960,144.99840,Northern Metropolitan,4019,25.200000,-0.231707,12,46,5,1
1,Abbotsford,25 Bloomburg St,2,house,1035000.0,S,Biggin,2016-02-04,2.5,3067,...,-37.80790,144.99340,Northern Metropolitan,4019,15.800000,-0.327660,2,116,3,0
2,Abbotsford,5 Charles St,3,house,1465000.0,SP,Biggin,2017-03-04,2.5,3067,...,-37.80930,144.99440,Northern Metropolitan,4019,18.750000,0.056338,3,117,5,1
3,Abbotsford,40 Federation La,3,house,850000.0,PI,Biggin,2017-03-04,2.5,3067,...,-37.79690,144.99690,Northern Metropolitan,4019,15.750000,0.145455,3,47,5,1
4,Abbotsford,55a Park St,4,house,1600000.0,VB,Nelson,2016-06-04,2.5,3067,...,-37.80720,144.99410,Northern Metropolitan,4019,17.750000,0.083969,6,2,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,house,1245000.0,S,Barry,2017-08-26,16.7,3150,...,-37.90562,145.16761,South-Eastern Metropolitan,7392,12.600000,-0.676093,8,36,5,1
13576,Williamstown,77 Merrett Dr,3,house,1031000.0,SP,Williams,2017-08-26,6.8,3016,...,-37.85927,144.87904,Western Metropolitan,6380,16.625000,-0.429185,8,22,5,1
13577,Williamstown,83 Power St,3,house,1170000.0,S,Raine,2017-08-26,6.8,3016,...,-37.85274,144.88738,Western Metropolitan,6380,15.750000,-0.551601,8,20,5,1
13578,Williamstown,96 Verdon St,4,house,2500000.0,PI,Sweeney,2017-08-26,6.8,3016,...,-37.85908,144.89299,Western Metropolitan,6380,17.444444,-0.693060,8,97,5,1
13579,Yarraville,6 Agnes St,4,house,1285000.0,SP,Village,2017-08-26,6.3,3013,...,-37.81188,144.88449,Western Metropolitan,6543,12.444444,-0.527426,8,97,5,1

In [ ]:
bike = pd.read_csv('data/citibike-tripdata.csv', sep=',')

print(round((bike[bike['usertype'] == 'Subscriber'].shape[0]) / (bike['usertype'].shape[0]), 2))
bike = bike.drop(['start station id', 'end station id'], axis=1)

In [ ]:
bike['birth year']
bike['age'] = 2018 - bike['birth year']
bike[bike['age'] > 60].value_counts().shape[0]

In [ ]:
bike['stoptime'] = pd.to_datetime(bike['stoptime'])
bike['starttime'] = pd.to_datetime(bike['starttime'])
diff = bike['stoptime'] - bike['starttime']
diff.iloc[3]

In [ ]:
bike['weekend'] = bike['starttime'].dt.weekday
weekend = bike['weekend'].value_counts()[5] + bike['weekend'].value_counts()[6]
weekend

In [ ]:
bike['time of day'] = bike['starttime'].dt.hour
#bike['time of day'] = pd.to_datetime(bike['time of day'])

night = bike[(bike['time of day'] >= 0) & (bike['time of day'] <= 6)]
morning = bike[(bike['time of day'] > 6) & (bike['time of day'] <= 12)]
day = bike[(bike['time of day'] > 12) & (bike['time of day'] <= 18)]
evening = bike[(bike['time of day'] > 18) & (bike['time of day'] <= 23)]
diff = day.shape[0] / night.shape[0]
round(diff)