In [1]:
import pandas as pd
mdfe = pd.read_csv('data/melb_data_fe.csv', sep=',')
mdfe['Date'] = pd.to_datetime(mdfe['Date'])
mdfe['Date'].dt.quarter.value_counts().iloc[1]

4359

In [2]:
cols_to_exclude = ['Car', 'Date', 'Rooms', 'Bathroom', 'Bedroom']
mdc = mdfe.copy()
max_counts = 150
for col in mdc.columns:
    if mdc[col].nunique() < max_counts and col not in cols_to_exclude:
        mdc[col] = mdc[col].astype('category') 
        
mdc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  category
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  category
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  category
 5   SellerG          13580 non-null  category
 6   Date             13580 non-null  datetime64[ns]
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  category
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  category
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  category
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  category
 24  StreetType       13580 non-null  category
 25  Weekend          13580 non-null  category
dtypes: category(10), datetime64[ns](1), float64(8), int64(7)
memory usage: 1.8 MB

In [3]:
mdc.sort_values(by=['Price', 'Distance']).loc[::10,['Price', 'Distance']]

           Price  Distance
2652     85000.0       6.4
7116    200000.0       7.8
5206    220000.0      11.2
7240    241000.0       8.2
2898    250000.0      13.0
...          ...       ...
13341  4060000.0       6.3
8591   4275000.0       1.5
1094   4700000.0      11.2
5801   5046000.0       6.1
251    5525000.0       6.3

[1358 rows x 2 columns]

In [4]:
mask1 = mdc['AreaRatio'] < -0.8
mask2 = mdc['Type'] == 'townhouse'
mask3 = mdc['SellerG'] == 'McGrath'

mdc[mask1 & mask2 & mask3].sort_values(by=['Date', 'AreaRatio'], ascending=[True, False], ignore_index= True).loc[:, ['Date', 'AreaRatio']]

        Date  AreaRatio
0 2016-07-26  -0.974922
1 2016-09-24  -0.971831
2 2016-11-27  -0.953608
3 2016-12-11  -0.945946
4 2017-08-04  -0.947368
5 2017-08-04  -0.970874

In [7]:
copy = mdc.sort_values(by='AreaRatio', ascending=False, ignore_index=True)
copy.loc[1558, 'BuildingArea']

126.0