In [ ]:
import pandas as pd
countries = pd.Series({
    'UK': 'Англия',
    'CA': 'Канада',
    'US' : 'США',
    'RU': 'Россия',
    'UA': 'Украина',
    'BY': 'Беларусь',
    'KZ': 'Казахстан'},
    name = 'countries'
)

countries.iloc[2:4]

In [ ]:

def create_medications(names, counts):
    medications = pd.Series(index=names, data=counts)
    return medications
def get_percent(medications, name):
    return (medications.loc[name]/sum(medications)*100)

print(get_percent(name = 'cyntomycin', medications = create_medications(['chlorhexidine', 'cyntomycin', 'afobazol'],[26, 18, 7])))

TYPE 1

In [ ]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']

countries_df

TYPE 2

In [9]:
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'area'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)

countries_df

      country  population      area
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [14]:
countries_df.population.iloc[1]

38.05

In [20]:
#countries_df.loc[['US', 'CA', 'UK'], ['population', 'area']]
countries_df.iloc[0:3, 1:3]

    population     area
UK       56.29   133396
CA       38.05  9984670
US      322.28  9826630

In [45]:
years = [2018, 2019, 2020]
df = pd.DataFrame({'income' : income, 'expenses' : expenses}, index= years)
df

      income  expenses
2018     478       156
2019     512       130
2020     196       270

In [51]:
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]



def create_companyDF(income, expenses, years):
    df = pd.DataFrame({'income' : income, 'expenses' : expenses}, index= years)
    return df
def get_profit(df, year):
    if year in df.index: 
        diff = df.loc[year]['income'] - df.loc[year]['expenses'] 
    else: 
        diff = None
    return diff
    
get_profit(df, 2019)
#create_companyDF(income, expenses, years)

382

In [ ]:
md = pd.read_csv('data/melb_data.csv', sep=',')
md